html {
    height: 100%;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

body#home {
    background-image: url(../img/bg.jpg);
}

.navbar-nav a.avatar {
    margin-left: 30px;
}

.navbar-nav .avatar {
    overflow: hidden;
    position: absolute;
    height: 30px;
    width: 30px;
    left: 0;
    top: 50%;
    border-radius: 50%;
    transform: translate(-100%, -50%);
}

.navbar-nav .avatar img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item-form textarea {
    width: 100%;
    resize: none;
}

.profile-form .avatar {
    max-width: 100%;
    width: 200px;
    padding: 20px 0;
    display: block;
    margin: 0 auto;
}